*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
body{
    background-color: rgb(138, 137, 136);
}

html{
    scroll-behavior: smooth;
    transition:z
}

.container_1 ul li{
    list-style-type: none;
}

.container_1{
    height: 500px;
    width: 100%;
    background-color: Black;

}
/*.cover_photo_1{
    /*position: fixed;
    background-image: url(./media/my_cover_photo.png);
    background-size: cover;
    height: 20000px;
    width: 1920px;
    
}*/


/*.my_photo{
    position: relative;
    left: 50%;
    height: 400px;
    width: 300px;
    background-color: black;
}*/
.social_profile{
    display: flex;
    padding-left: 1%;
    padding-top: 2%;
    animation: slideIn 4s forwards;
}
@keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0); 
    }
}

.facebook_link{
    font-size: 2.8rem;
    padding-right: 15px;
    
}
.Linked_in_link{
    font-size: 2.8rem;
    padding-right: 15px;
}

.instagram_link{
    font-size: 2.8rem;
    padding-right: 15px;
}

.fa-brands{
    background-color: azure;
    height: 41px;
    width: 38px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.fa-brands:hover{
    background-color: rgb(199, 201, 201);
    height: 41px;
    width: 38px;
    border: 3px solid rgb(247, 244, 247);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.my_intro{
    display: flex;
    justify-content: space-evenly;
    /*transition: animation 0.3s ease box-shadow 0.3s ease;*/
}

.my_intro1{
    width: 400px;
    height: 400px;
    background-size: cover;
    background-image: url("./media/me4.jpg");
    background-size: cover;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    /*box-shadow: 5px 5px 5px 5px rgb(252, 243, 254);*/
    margin-top: 2%;
    box-shadow: 10px 10px 15px rgb(243, 228, 251);
    animation: p_ani 4s forwards;
}

@keyframes p_ani{
    0% { transform: translateY(-100%) }
    100% { transform: translateY(0)}
}
.my_intro2{
    /*position: relative;
    left: 50%;
    height: 400px;
    width: 300px;
    background-color: black;*/
    padding-top: 6%;
    padding-right: 7%;
}

.color{
    color: white;
}
.first_line{
    font-size: 2rem;
}
.Second_line{
    font-size: 6rem;
}
.third_line{
    font-size: 1.2rem;
    padding-top: 1.2%
}

/* ............ navigation bar .............*/
.nav_bar{
    width: 100%;
    height: 80px;
    background-color: rgb(37, 37, 37);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 8px 8px 13px;
}
.nav_bar ul li{
    list-style-type: none;
}
.nav_elements{
    display: flex;
}
.nav_elements a{
    text-decoration: none;
    padding-right: 15px;
    font-weight: 600;
    color: white;
}

#nav_b{
    position: sticky;
    top: 0px;
}

.info_about{
    display: flex;
    
    padding-left: 5px;
    padding-right: 5px;
}
.box1{
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    border: 2px solid rgb(147, 147, 147);
    background-color: rgb(62, 63, 63);
    height: 550px;
    width: 30%;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 10px 10px 15px rgb(94, 94, 94);
}

.p1{
    padding-top: 25px;
    padding-bottom: 5%;
    font-weight: 950;
}
.p2{
    padding-bottom: 5%;
}

.box2{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    border: 2px solid rgb(147, 147, 147);
    background-color: rgb(62, 63, 63);
    height: 550px;
    width: 30%;
    margin-top: 2%;
    margin-right: 2%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 10px 10px 15px rgb(94, 94, 94);
}

.p4{
    padding-top: 25px;
    padding-bottom: 6%;
    font-weight: 950;
}
.p5{
    padding-bottom: 1.5%;
}
.p6{
    padding-bottom: 1.5%;
}

.box3{
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    border: 2px solid rgb(147, 147, 147);
    background-color: rgb(62, 63, 63);
    height: 550px;
    width: 30%;
    margin-top: 2%;
    margin-right: 2%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 10px 10px 15px rgb(94, 94, 94);
}
.p8{
    padding-top: 25px;
    font-weight: 950;
}
.p9{
    padding-top: 10px;
}

.info_about{
    padding-bottom: 25px;
}

.form{
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}
.form_page1{
    height: 500px;
    width: 650px;
    background-color: white;
    border: 2px solid black;
    padding-left: 4%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 10px 10px 15px rgb(94, 94, 94);
}

.form_p1{
    padding-top: 4%;
    padding-bottom: 4%
}

.testing1{
    padding-bottom: 3%;
}

.testing2{
    padding-bottom: 3%;
}

.form_body{
    height: 9%;
    width: 550px;
    font-size: 1.5rem;
    padding-left: 2.5%;
    border: 2px solid black;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.form_msg{
    height: 150px;
    width: 550px;
    font-size: 1.5rem;
    padding-left: 2.5%;
    border: 2px solid black;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.form_button{
    padding-top: 3%;
    display: flex;
    justify-content: center;
}
.button1{
    height: 50px;
    width: 300px;
    font-weight: 700;
    font-size: 1.2rem;
    margin-right: 9%;
    background-color: rgb(156, 154, 154);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.third_line{
    font-size: 2em;
    font-weight: bold;
    animation: fadeInOut 3s infinite;
}

@keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
}

.Second_line{
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 8s steps(50) infinite;
}

@keyframes typing {
    0% { width: 0; }
    70% { width: 100%; } /* Typing Compleate*/
    100%{ width: 100%; } /* For Delay */
}

.found_me{
    height: 450px;
    width: 400px;
    padding-top: 2%;
    padding-left: 2%;
    background-color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 2px solid black;
    box-shadow: 10px 10px 15px rgb(94, 94, 94);
}

.me1{
    padding-bottom: 25px;
}
.me_container{
    display: flex;
}
.me_phone{
    padding-left: 3%;
}
.me_number{
    padding-left: 7.5%;
    padding-top: 1%;
    padding-bottom: 3%;
}
.me_container2{
    display: flex;
}

.me_address{
    padding-left: 3%;
}
.me_location{
    padding-left: 7.5%;
    padding-top: 1%;
    padding-bottom: 3%;
}
.me_container3{
    display: flex;
}
.me_email{
    padding-left: 3%;
}
.me_email_ad{
    padding-left: 7.5%;
    padding-top: 1%;
    padding-bottom: 3%;
}

.logation_page{
    padding-bottom: 0.5%;
}

.google_map{
    display: flex;
    justify-content: center;
    align-items: center;
}
.location_text{
    padding-left: 45%;
    font-weight: 900;
    padding-bottom: 1%;
    
}
.logation_page2{
    height: 500px;
    width: 1700px;
}
.footer{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
}
.footer_text{
    color: white;
    padding-left: 85%;
}