*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.container_1 ul li{
    list-style-type: none;
}

.container_1{
    height: 800px;
    width: 1920px;
}
.cover_photo_1{
    position: fixed;
    background-image: url(./media/my_cover_photo.png);
    background-size: cover;
    height: 800px;
    width: 1920px;
    
}

.social_profile{
    display: flex;
    padding-left: 19%;
    padding-top: 2%;
}

.facebook_link{
    font-size: 3rem;
    padding-right: 15px;
}
.Linked_in_link{
    font-size: 3rem;
    padding-right: 15px;
}

.instagram_link{
    font-size: 3rem;
    padding-right: 15px;
}

.fa-brands{
    background-color: azure;
    height: 43px;
    width: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.my_intro{
    padding-top: 13%;
    padding-left: 15%;
}

.color{
    color: white;
}
.first_line{
    font-size: 2rem;
}
.Second_line{
    font-size: 6rem;
}
.third_line{
    font-size: 1.2rem;
    padding-top: 1.2%
}