*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
body{
    background-color: rgb(244, 239, 232);
}

html{
    scroll-behavior: smooth;
    transition:z
}

.container_1 ul li{
    list-style-type: none;
}

.container_1{
    height: 500px;
    width: 1920px;
    background-color: blue;

}
/*.cover_photo_1{
    /*position: fixed;
    background-image: url(./media/my_cover_photo.png);
    background-size: cover;
    height: 20000px;
    width: 1920px;
    
}*/

.social_profile{
    display: flex;
    padding-left: 19%;
    padding-top: 2%;
}

.facebook_link{
    font-size: 3rem;
    padding-right: 15px;
}
.Linked_in_link{
    font-size: 3rem;
    padding-right: 15px;
}

.instagram_link{
    font-size: 3rem;
    padding-right: 15px;
}

.fa-brands{
    background-color: azure;
    height: 43px;
    width: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.fa-brands:hover{
    background-color: rgb(199, 201, 201);
    height: 43px;
    width: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.my_intro{
    padding-top: 6%;
    padding-left: 15%;
}

.color{
    color: white;
}
.first_line{
    font-size: 2rem;
}
.Second_line{
    font-size: 6rem;
}
.third_line{
    font-size: 1.2rem;
    padding-top: 1.2%
}

/* ............ navigation bar .............*/
.nav_bar{
    height: 80px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 8px 8px 13px;
}
.nav_bar ul li{
    list-style-type: none;
}
.nav_elements{
    display: flex;
}
.nav_elements a{
    text-decoration: none;
    padding-right: 15px;
    font-weight: 600;
}

#nav_b{
    position: sticky;
    top: 0px;
}

.info_about{
    display: flex;
    justify-content: space-evenly;
    padding-left: 5px;
    padding-right: 5px;
}
.box1{
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid rgb(184, 183, 183);
    height: 500px;
    width: 35%;
}
.p1{
    padding-bottom: 25px;
    font-weight: 600;
}
.p2{
    padding-bottom: 10px;
}

.box2{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid rgb(184, 183, 183);
    height: 500px;
    width: 35%;
}

.p4{
    padding-bottom: 25px;
    font-weight: 600;
}

.box3{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid rgb(184, 183, 183);
    height: 520px;
    width: 35%;
}

.p8{
    padding-top: 25px;
    font-weight: 600;
}
.p9{
    padding-top: 10px;
}

.info_about{
    padding-bottom: 25px;
}

.form{
    display: flex;
    justify-content: space-evenly;
}
.form_page{
    height: 500px;
    width: 700px;
    background-color: white;
    border: 2px solid black;
    padding-left: 4%;
}

.location_page{
    height: 300px;
    width: 500px;
    background-color: white;
}

.form_p1{
    padding-top: 4%;
    padding-bottom: 4%
}

.testing1{
    padding-bottom: 3%;
}

.testing2{
    padding-bottom: 3%;
}

.form_body{
    height: 9%;
    width: 550px;
    font-size: 1.5rem;
    padding-left: 2.5%;
    border: 2px solid black;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.form_msg{
    height: 150px;
    width: 550px;
    font-size: 1.5rem;
    padding-left: 2.5%;
    border: 2px solid black;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.form_button{
    padding-top: 3%;
}
.button1{
    height: 35px;
    width: 575px;
}